<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/style3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="background">
      <div class="header">
        <div class="navbar-action">
          <i class="fa fa-reorder"></i>
        </div>
        <p>
          <span class="btn-head">Home</span> &emsp;&emsp;
          <span class="btn-head">News</span> &emsp;&emsp;
          <span class="btn-head">About</span>
        </p>
      </div>
      <main>
        <div class="left-bar col-2 col-md-2 col-sm-12">
          <div class="card"><p>one</p></div>
          <div class="card"><p>two</p></div>
          <div class="card"><p>three</p></div>
          <div class="card"><p>four</p></div>
          <div class="card"><p>five</p></div>
        </div>
        <div class="contain col-7 col-md-10 col-sm-12">
          <h1>Lorem, ipsum.</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Phasellus egestas tellus rutrum tellus pellentesque. Varius duis at
            consectetur lorem donec massa sapien faucibus. Enim sed faucibus
            turpis in. Turpis egestas pretium aenean pharetra magna ac. Integer
            quis auctor elit sed vulputate mi sit amet. In aliquam sem fringilla
            ut morbi. Diam vulputate ut pharetra sit amet aliquam id. Ut
            venenatis tellus in metus. Lectus vestibulum mattis ullamcorper
            velit sed ullamcorper morbi tincidunt ornare.
          </p>
          <p>
            Enim sed faucibus turpis in. Turpis egestas pretium aenean pharetra
            magna ac. Integer quis auctor elit sed vulputate mi sit amet. In
            aliquam sem fringilla ut morbi. Diam vulputate ut pharetra sit amet
            aliquam id. Ut venenatis tellus in metus. Lectus vestibulum mattis
            ullamcorper velit sed ullamcorper morbi tincidunt ornare.
          </p>
        </div>
        <div class="right-bar col-3 col-sm-12 col-md-12 mt-1">
          <div class="box"><p>right :)</p></div>
          <div class="box"><p>right :)</p></div>
          <div class="box" id="3rd-box"><p>right :)</p></div>
        </div>
      </main>
      <div class="footer">
        <p>footer</p>
      </div>
    </div>
  </body>
</html>
